/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
:root{
  margin:0;
  padding:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aab7e0;
}

body {
  margin: 0;
  background-color: #0d1530;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px 10px;
  background-color: #0d1530;
  opacity: 43%;
}

.navbar-element {
  padding: 10px;
  color: #393636;
  text-decoration: none;
  color: #aab7e0;
}

.myVideo {
  position: absolute;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
  }

.answer {
  display: none;
  background-color: #b9c2e0;
  width: 250px;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
  padding:10px;
}

.active+.answer {
  display: block;
}


header {
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: absolute;
}

h1 {
  position: absolute;
  bottom:0;
  text-align: center;
  padding:0 10px;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  opacity: 43%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  position:relative;
  top:300px;
  padding:30px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding:50px 10px;
  gap: 20px;
  border: black 2px solid;
  justify-content:flex-start;
  align-items: center;
  opacity: 80%;
  background-image: url("vincent-guth-62V7ntlKgL8-unsplash.jpg");
}

.form-fields {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  background-color: #aab7e0;
  color: #0d1530;
}
p{
  padding:0;
  margin:0;
}
.sections {
  padding: 10px;
  background-color: #aab7e0;
  width: 250px;
  align-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion {
  margin: 10px;
  gap: 20px;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  background-image: url("vincent-guth-62V7ntlKgL8-unsplash.jpg");
  color: #0d1530;
}

h2 {
  text-align: center;
  color: #aab7e0;
  font-size: 20px;
  padding: 10px;
  opacity: 63%;
}

.robot {
  align-self: center;
}

.radio-buttons {
  align-self: center;
  padding:10px;
}

button {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: bold;
  background-color: #aab7e0;
  color: #0d1530;
  width:200px;
}
footer{
  color: #aab7e0;
  position: relative;
  top: 300px;
  text-align: center;
  opacity: 43%;
}

/*****responsive design for ipad*******/
@media only screen and (min-device-width: 768px){
  header{
    height: 500px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    top: 500px;
  }
  h1 {
    font-size: 50px;
  }
  .navbar {
    padding: 25px 10px;
  }
  .navbar-element {
    font-size: 25px;
  }
  footer {
    top: 500px;
  }
}

/*****responsive design for desktop*******/
@media only screen and (min-device-width: 1025px) {
  .navbar-element{
    font-size: 30px;
  }
  header {
      height: 600px;
    }
  .container {
    grid-template-columns: 1fr 1fr;
    top: 600px;
  }
  h1 {
    font-size: 75px;
  }
  h2{
    font-size: 35px;
  }
  .sections,
  .form-fields{
    padding: 20px;
    width: 400px;
    font-size: 25px;
  }
  button{
    font-size: 25px;
  }
  .answer{
    width:400px;
    font-size: 15px;
  }
  .robot,
  .radio-buttons{
    font-size: 25px;
  }
  footer {
    top: 600px;
  }

}